.button { 
	background: gray;
	color: white;
	border: none;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
}

.button-cantainer{ 
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

ul{
	list-style-type: none;
}